* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.container {
    display: flex;
}

.panel {
    height: 75vh;
    border-radius: 45px;
    max-width: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 10px 10px;
    cursor: pointer;
    flex: 0.5;
}


.panel h3 {
    color: #fafafa;
    font-size: 30px;
    text-align: left;
    position: relative;
    display: block;
    top: 70%;
    left: 1.5%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
}

.panel.active {
    width: 100%;
    max-width: 100%;
    transition: ease-out 0.85s;
}

.active h3 {
    opacity: 100%;
}
